head {
}

body {
  background-color: #eee
  font-family: 'Raleway', sans-serif;
   margin: 0 auto;
  width: 550px
}

/*your code here*/

#title {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.center {
  margin: 0 auto;
  width: 500px;
}

#table {
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 3px;
}

td {
  border-bottom: 1px solid #c5c5c5;
  padding: 3px;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}
