head {
}

body {
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
/*   margin: 0 auto;
  width: 550px */
}

/*your code here*/

#title {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.center {
  margin: 0 auto;
  width: 500px;
}

#table {
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
  font-weight: bold;
  padding: 3px;
}

td {
  border-bottom: 1px dashed #c5c5c5;
  padding: 3px;
}

#france {
  color: green;
}

#usa {
  color: red;
}

#wrong {
  text-decoration-line: line-through;
}